.custom-nav {
	padding: 5px;
	margin-bottom: 0;
}

.navbar-brand {
    height: 80px;
}

.navbar-brand span {
	font-size: 15px;
}

.row img {
	margin-top: 40px;
	margin-bottom: 40px;
}

.slider-wrapper {
	margin-top:6%;
}

.thumbnail img {
	//width: 100%;
	height: 350px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    align-content: center;
}

.carousel .item {
	background: url('../images/matrix.gif');
}

footer {
	margin-top: 130px;
	background-color: #EEEEEE;
}

footer h3 {
	color: skyblue;
}

footer p {
	padding-right: 50px;
	color: #ABAB90;
}

footer ul {
	list-style-type: none;
	padding: 0;	
}

footer ul li a {
	color: #ABAB90;
}
